.App {
  text-align: center;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: white;
  height: 80px;
  width: 100%;
}
.nav1 {
  margin-left: 30px;
}
.nav2 > p {
  cursor: pointer;
  background-color: rgb(43, 226, 49);
  border-radius: 10px;
  padding: 10px;
}
.nav2 > p:hover {
  background-color: rgb(80, 43, 226);
}
/* .nav2 > p:nth-child(1) {
  background-color: rgb(80, 43, 226);
} */
.nav2 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
